{
    "pdf_processing": {
        "pages_per_chunk": 3,
        "chunk_overlap": 1,
        "output_formats": {
            "save_filtered_pdf": true,
            "save_summary_only": true,
            "save_combined": true
        },
        "folders": {
            "pdf_folder": "pdf_folder",
            "pre_json_folder": "pre_json_folder",
            "result_json_folder": "result_json_folder"
        }
    },
    "vectorstore": {
        "chunk_size": 1000,
        "chunk_overlap": 200,
        "model_name": "sentence-transformers/all-MiniLM-L6-v2",
        "folders": {
            "vectorstore_folder": "vectorstore_folder"
        }
    }
} 